
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Static);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

body {
	font-family: 'Static'
	width: 600px;
	margin: 0 auto;
}

nav {
	margin: 2em;
	padding-left: 100px
}

form {
	width: auto;
	font-size: 16px;
	line-height: 220%;
	border: outset 5px #78b20c;
	padding: 10px;
	border-radius: 8px;
}

h1 {
	font-weight: bolder;
	text-shadow: 1px 2px 2px #a2bf28;
	font-size: 34px;
	color: purple;
	text-align: center;
}

h2 {
	text-align: center;
	text-shadow: 1px 1px 1px #A80000 ;
}

h3 {
	text-align: center;
	text-shadow: 1px 1px 1px #A80000 ;
}

li{
	width: auto;
	line-height: 150%;
	font-family: tangerine;
	font-weight: normal;
	font-size: 16px;
	text-shadow: 1px 1px 1px 3366CC;
}

label{
	display: inline;
}

input [type=submit], input[type=reset] {
	background-color: 660099;
	border-color: 66CCCC;
	padding: 9px;
	color: black;
	opacity: 1;
	border-radius: 8px;
}

	input[type=submit]:hover, input[type=reset]:hover {
	background-color: green;
	box-shadow: 2px 2px 5px 33FFCC;
}

div {
	text-align: right;
	line-height:80%
}

/*
:invalid {
	border-color: #78b20c;
	box-shadow: 0 0 5px #cbd0d3;
}
*/

input:focus, select:focus, textarea:focus {
	background-color: #ffedb2;
	font-weight: bolder;
	color: blue;
}

table {
	width: 380px;
	margin: 0 auto;
}

.IMG8068 {
	height: 200px;
	float: right;
	padding-top: 2em;
}

hr {
	width: auto;
	color: #E00000 ;
	height: 8px;
	background-color: #FF00FF;
}

figure {
	text-align: center;
}

input, select, textarea {
		font-size: 18px;
		border-color: 0066CC;
		border-radius: 4px;
		border-width: 1px;
		padding: 2px;
		font-family: 'static';
		color: #181818 ;
		font-style: italic;
		font-weight: bold;
		transition: all 0.8s ease-in-out;
}
	textarea:-moz-placeholder {
			color: CC99CC;
			font-style: italic;
			text-shadow: 1px 1px 0 #ccc;
	}

fieldset {
	border: 3px double #ccc;
	border-radius: 8px;
}

legend {
	font-size: 14px;
	font-style: italic;
	color: 330066;
	margin-left: 20px;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #ccc;
}
