
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Static);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

body {
	font-family: 'Static'
	width: 600px;
	margin: 0 auto;
}

nav {
	margin: 2em;
	padding-left: 100px