
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Static);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

body {
	font-family: 'Static'
	width: 600px;
	margin: 0 auto;
}

nav {
	margin: 2em;
	padding-left: 100px
}

form {
	width: auto;
	font-size: 16px;
	line-height: 220%;
	border: outset 5px #78b20c;
	padding: 10px;
	border-radius: 8px;
}

h1 {
	font-weight: bolder;
	text-shadow: 1px 2px 2px #a2bf28;
	font-size: 34px;
	color: purple;
	text-align: center;
}