hr
        {
	width: 1400px;
	border: 0;
	border-top: 4px solid #00cc99;
	padding: 0;
	text-align: center;
        }
navigation  table.nav{
	margin-left:auto;
	margin-right:auto;
}
footer table.foot {
	margin-left:auto;
	margin-right:auto;
}

navigation a  {
	font-size: 14px;
	text-decoration: underline;
}


About me picture {
	padding-left: 6.5cm;
	height: 270px;
	width: 245px;
	text-align: center;
}

Image {
	background: url('IMG-8068.jpg')
	height: 400px;
	width: 200;
}

table {
	padding-left: 1.5cm;
}

