@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Static);
@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

body {
	font-family: 'Roboto';
	width: 600px;
	margin: 0 auto;
}

nav {
	margin: 2em;
	padding-left: 100px
    
}

form {
	width: auto;
	font-size: 16px;
	line-height: 220%;
	border: outset 5px #063918;
	padding: 10px;
	border-radius: 8px;

}

h1 {
	font-weight: bolder;
	text-shadow: 1px 2px 2px #a2bf28;
	font-size: 34px;
	color: #990099;
	text-align: center;
}

h2 {
	text-align: center;
	text-shadow: 1px 1px 1px #A80000;
	font-size: 34px;
	color: #A80000;
	text-align: center;
}

h3 {
	text-align: center;
	text-shadow: 1px 1px 1px #FF66CC ;
	font-size: 32px;
	color: #FF66CC;
	text-align: center;
}

li {
	width: auto;
	line-height: 150%;
	
	font-weight: normal;
	font-size: 14px;
	text-shadow: 1px 1px 1px #990099;
	
}

label {
	display: inline;
}

div {
	text-align:right;
	line-height:80%;
}

.myPhoto {
     height: 200px;
    float: right;
}


	input[type=submit]:hover, input[type=reset]:hover {
	background-color: #ccc;
	box-shadow: 2px 2px 2px #FF6699;
}

div {
	text-align: right;
	line-height:80%
}



table {
	width: 380px;
	margin: 0 auto;
}


hr {
	width: auto;
	color: #00ff00 ;
	height: 8px;
	background-color: #00ff00;
}

figure {
	text-align: center;
}

input, select, textarea {
		font-size: 18px;
		border-color: #0066CC;
		border-radius: 4px;
		border-width: 1px;
		padding: 2px;
		font-family: 'Roboto';
		color: #330066 ;
		font-weight: bold;
		
}
	textarea:-moz-placeholder {
			color: #CC99CC;
			font-style: italic;
			text-shadow: 1px 1px 0 #ccc;
	}

fieldset {
	border: 1px solid #ccc;
	border-radius: 8px;
}

legend {
	font-size: 14px;
	font-style: italic;
	color: #330066;
	margin-left: 20px;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #ccc;
}




td {
	font-family: roboto;
	font-size: 20px;
	color: #00CCCC;
	text-shadow: 1px 1px 1px #00ccc;
	text-align: left;
}

.Title {
    font-family: 'Satisfy', serif;
    font-size: 36px;
    color: #FF00FF;
    text-align: center;
    text-shadow: 1px 1px 2px #FF00FF;
}

.click {
    font-size: 20px;
    color: #FF6699;
    text-shadow: 1px 1px 2px #FF6699;
    margin-left: 20px;
}

    .click:hover {
        color: red;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 20px;
        text-shadow: 3px 3px 3px #FF33CC;
        font-weight: bolder;
}

.welcome {
	color: #339933;
	font-size: 22px;
	font-family: 'tangerine';
}

.phone {
	margin-left: 20px;
}

.email {
	margin-left: 20px;
}

.address {
	padding-top: 5px;
    text-align: center;
}

.bottomLine {
	border-top: double;
	border-color: #063918;
	height: 0px;
	background-color: transparent;
}

footer {
	margin-bottom: 20px;
	font-size: 14px;
}

span {
    text-align: center;
    padding-left: 10px;
    font-size: 10px;
}